@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-cyan-200;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#container {
  @apply mx-auto max-w-4xl shadow-md rounded-xl h-[800px] bg-gradient-to-bl from-sky-400 to-sky-300 p-3 mt-10;
}

#window {
  @apply basis-1/6 rounded-md shadow-md overflow-hidden m-2 flex flex-col 
  text-lg justify-center text-center text-white font-medium bg-sky-500/50;
}

#window img {
  @apply invert;
}

#window h1 {
  @apply bg-sky-500 pt-2 p-1;
}

#window :first-child,
:last-child {
  @apply mb-2;
}

#outside {
  @apply flex flex-col items-center p-10 max-w-xl mx-auto 
  text-white font-light text-4xl text-center select-none;
}
#outside img {
  @apply rounded-full w-96 h-96 bg-sky-500/50 p-3 shadow-lg mb-10;
}
